<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nisi explicabo rem perferendis nemo repellat in dolor magni ipsam ea.</p>
    </div>
</section>