<div class="jumbotron mt-4">
  <h1 class="display-4"> Notes McFly-App Nodejs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus fuga, veritatis minus sint eius voluptate?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, beatae? Repellendus similique fugiat nostrum beatae ad minus illo minima tempora.</p>
</div>
        
    